.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: rgb(27, 240, 240);
  width: 300px;
  height: 150px;
}

.info {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: red;
}

.input {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
